.login-wrapper {
    height: 100vh;
    width: 100%;
    background-color: #f4f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.login-container {
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    width: 400px;
}

.login-left {
    width: 100%;
    background-image: url('../../assets/invoice.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.login-heading {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.login-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.login-btn {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    background-color: rgb(45, 28, 238);
    color: white;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #1a1a8f;
}

.register-link {
    font-size: 16px;
    margin-top: 20px;
    color: #333;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}

.image-preview {
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
